<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" th:attr="content=#{error404.meta.title}" content="404 Not found"/>
    <meta name="Description" th:attr="content=#{error404.meta.description}" content="404 Not found"/>

    <title th:text="#{error404.title}">Application Error</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icon/favicon-32x32.png">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/color.css?v=1"/>
    <link rel="stylesheet" href="/static/css/main.css?v=1"/>

    <link rel="image_src" href="https://javarush.com/assets/images/site/homepage/og-image-jr.jpg"/>
    <meta name="keywords" CONTENT="Java,программист,курсы,обучение,трудоустройво,разработчик,практика,bugtracking,jira">
</head>
<body>
<div class="app">

    <!-- Header -->
    <div>
        <header class="fixed-top d-none d-md-block header-nav">
            <nav class="navbar navbar-expand-lg navbar-dark" id="header">
                <div class="container">
                    <div class="collapse navbar-collapse mt-2 mb-2">
                        <ul class="navbar-nav m-auto">
                            <form class="d-flex" role="search">
                                <input id="header-search" class="form-control" type="search" aria-label="Search"
                                       placeholder="Search" th:placeholder="#{header.search.placeholder}">
                            </form>
                            <li class="nav-item menu-item me-3 ms-4">
                                <a class="btn btn-yellow" href="/doc" target="_blank" type="button"
                                   th:text="#{header.swagger}">Swagger API</a>
                            </li>
                        </ul>

                        <div>
                            <a class="btn btn-orange" href="/ui/profile" type="button">
                                <i class="fa-solid fa-address-card"></i>
                                <span th:text="#{header.profile}">Profile</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <!-- Sidebar -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-left sidebar-nav">
            <button class="navbar-toggler ms-3 ms-md-4" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand me-auto" href="/">
                <img class="d-inline-block d-none d-lg-block align-text-top ms-3 ms-lg-4 mt-0 mt-lg-2"
                     src="/static/images/logo/jr.svg" alt="JavaRush">
                <img class="d-inline-block d-lg-none align-text-top ms-3 ms-lg-4 mt-0 mt-lg-2"
                     src="/static/images/logo/jr-text.svg" alt="JavaRush">
                <hr class="text-white d-none d-lg-block" style="width: 232px">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item menu-item mt-3 mt-lg-0 mb-0 mb-lg-3" id="test1">
                        <a class="nav-link sidebar-nav-link" href="#test1">
                            <span class="ms-4"><i class="fa-regular fa-folder-open fa-fw me-2"></i>
                                <span th:text="#{sidebar.link1}">Link_1</span></span>
                        </a>
                    </li>
                    <li class="nav-item menu-item mb-0 mb-lg-3" id="test2">
                        <a class="nav-link sidebar-nav-link" href="#test2">
                            <span class="ms-4"><i class="fa-solid fa-list-check fa-fw me-2"></i>
                                <span th:text="#{sidebar.link2}">Link_2</span></span>
                        </a>
                    </li>
                    <li class="nav-item menu-item mb-0 mb-lg-3" id="test3">
                        <a class="nav-link sidebar-nav-link" href="#test3">
                            <span class="ms-4"><i class="fa-solid fa-bug fa-fw me-2"></i>
                                <span th:text="#{sidebar.link3}">Link_3</span></span>
                        </a>
                    </li>
                    <li class="nav-item menu-item mb-0 mb-lg-3" id="test4">
                        <a class="nav-link sidebar-nav-link" href="#test4">
                            <span class="ms-4"><i class="fa-solid fa-book-skull fa-fw me-2"></i>
                                <span th:text="#{sidebar.link4}">Link_4</span></span>
                        </a>
                    </li>
                    <li class="nav-item menu-item" id="test5">
                        <a class="nav-link sidebar-nav-link" href="#test5">
                            <span class="ms-4"><i class="fa-solid fa-comments fa-fw me-2"></i>
                                <span th:text="#{sidebar.link5}">Link_5</span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Main -->
    <main class="app-main py-3 px-md-3 min-vh-100">
        <div class="container">
            <appMain>
                <div class="text-center">
                    <br>
                    <h3 class="my-5" th:text="#{error404.code}">404 NOT_FOUND</h3>
                    <h1 class="my-3" th:text="#{error404.message}">No page here</h1>
                </div>
            </appMain>
        </div>
    </main>

    <!-- Footer -->
    <div>
        <footer class="text-center text-lg-start text-white footer">
            <section>
                <div class="container text-center text-md-start">
                    <div class="row ms-0 ms-md-5">
                        <div class="col-md-4 col-xl-2 mb-4 mt-4">
                            <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{footer.learn}">LEARN</h6>
                            <p><a class="footer-href" href="#" th:text="#{footer.learn.programming}">Programming Courses</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.learn.java}">Java Course</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.learn.help}">Help with Tasks</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.learn.pricing}">Pricing</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.learn.games}">Game Projects</a></p>
                        </div>

                        <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                            <h6 class="fw-bold mb-4" th:text="#{footer.community}">COMMUNITY</h6>
                            <p><a class="footer-href" href="#" th:text="#{footer.community.users}">Users</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.community.articles}">Articles</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.community.forum}">Forum</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.community.chat}">Chat</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.community.success}">Success Stories</a></p>
                        </div>

                        <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                            <h6 class="fw-bold mb-4" th:text="#{footer.company}">COMPANY</h6>
                            <p><a class="footer-href" href="#" th:text="#{footer.company.about}">About us</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.company.contacts}">Contacts</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.company.reviews}">Reviews</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.company.faq}">FAQ</a></p>
                            <p><a class="footer-href" href="#" th:text="#{footer.company.support}">Support</a></p>
                        </div>

                        <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                            <img src="/static/images/logo/jr.svg" alt="JavaRush" class="mb-3">
                            <p th:text="#{footer.about}">
                                JavaRush is an online course for learning Java programming from scratch...
                            </p>
                            <h6 th:text="#{footer.follow}">FOLLOW US</h6>
                            <div>
                                <a class="btn btn-sm btn-outline-light me-2" href="#" type="button"><i class="fab fa-facebook-f pe-1"></i></a>
                                <a class="btn btn-sm btn-outline-light me-2" href="#" type="button"><i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-sm btn-outline-light me-2" href="#" type="button"><i class="fa-brands fa-twitter"></i></a>
                                <a class="btn btn-sm btn-outline-light me-2" href="#" type="button"><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-sm btn-outline-light me-2" href="#" type="button"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-sm btn-outline-light" href="#" type="button"><i class="fab fa-telegram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center pb-4" th:text="#{footer.copyright}">
                Programmers Are Made, Not Born © 2023 JavaRush
            </div>
        </footer>
    </div>
</div>
</body>
</html>
