<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="project" type="com.javarush.jira.bugtracking.project.to.ProjectToFull"*/-->
<!--/*@thymesVar id="fragment" type="boolean"*/-->
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->
<th:block
        th:replace="~{layout/bugtrackLayout::view(${project}, ${authUser.isManager()}?'/ui/mngr/projects/edit/':null, ~{::project}, ${fragment})}">
    <project>
        <div class="mb-2 row">
            <div class="col-md-3 col-10">
                <p th:text="${#strings.isEmpty(project.description) ? #messages.msg('project.description.empty') : project.description}">
                    No description
                </p>
            </div>
        </div>
        <div class="mb-2 row" th:if="${project.parentId != null}">
            <div class="col-md-3 col-10">
                <p>
                    <span th:text="#{project.parent.label}">Parent project:</span>
                    <a th:href="@{'/ui/projects/' + ${project.parentId}}" th:text="${project.parent.code}">PRJ</a>
                </p>
            </div>
        </div>
    </project>
    <br/>
</th:block>
