<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" th:with="activeMenuItem='reports'">
<th:block th:replace="~{layout/main::page(title=#{reports.page.title}, appMain=~{::appMain}, activeMenuItem='reports')}">
    <appMain>
        <h1 th:text="#{reports.title}">Reports</h1>

        <div class="table-responsive-lg mt-4 text-nowrap text-center">
            <table class="table table-bordered">
                <thead class="table-secondary">
                <tr>
                    <th colspan="4">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 align-items-center">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text fw-bold" th:title="#{reports.project}" th:text="#{reports.project}">Project</span>
                                    <select class="form-select" id="project-selector"
                                            th:disabled="${projects.isEmpty()}" th:aria-label="#{reports.project}">
                                        <option th:if="${projects.isEmpty()}" value="-1" th:text="#{reports.noProjects}">No projects</option>
                                        <option th:each="project : ${projects}" th:if="${!projects.isEmpty()}"
                                                th:text="${project.title}" th:value="${project.id}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col mt-2 mt-md-0">
                                <div class="input-group" id="sprint-selector-group" th:if="${!projects.isEmpty()}">
                                    <span class="input-group-text fw-bold" th:title="#{reports.sprint}" th:text="#{reports.sprint}">Sprint</span>
                                    <select class="form-select" id="sprint-selector" th:aria-label="#{reports.sprint}"></select>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>

                <tr hidden id="sprint-header-row">
                    <th th:text="#{reports.status}">Status</th>
                    <th th:text="#{reports.started}">Started</th>
                    <th th:text="#{reports.completed}">Completed</th>
                    <th th:text="#{reports.duration}">Duration</th>
                </tr>
                </thead>

                <tbody>
                <tr hidden id="sprint-info-row">
                    <td></td><td></td><td></td><td></td>
                </tr>

                <tr hidden id="task-summaries-row">
                    <td colspan="4">
                        <h5 class="fw-bold text-secondary text-start mt-1" th:text="#{reports.taskSummaries}">Task summaries</h5>
                        <table class="table table-bordered">
                            <thead class="table-secondary">
                            <tr id="task-status-row"></tr>
                            </thead>
                            <tbody>
                            <tr id="task-total-row"></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </appMain>
</th:block>
<script src="/static/js/common.js"></script>
<script src="/static/js/report.js"></script>
